<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true"
        defaultTestSuite="Laminas Cache Tests"
        cacheDirectory=".phpunit.cache"
        failOnDeprecation="true"
        failOnNotice="true"
        failOnWarning="true"
        failOnPhpunitDeprecation="true"
        displayDetailsOnPhpunitDeprecations="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
>
  <testsuites>
    <testsuite name="Laminas Cache Tests">
      <directory>./test/unit</directory>
    </testsuite>
    <testsuite name="Laminas Cache Integration Tests">
      <directory>./test/integration</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
